* {
    /* border: 1px solid red; */
}

.box-catalog {
    max-width: 85%;
    background-color: #fffffe;
    margin: auto;
    list-style: none;
    padding: 0px;
}
.box-catalog .el {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 20px;
}
.box-catalog .el:first-child {
    border-top: none;
}
.box-catalog .el:last-child {
    border-bottom: none;
}
.box-catalog .left-content {
    width: 75%;
}
.box-catalog .right-content {
    width: 22%;
}