{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'website/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/catalog.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    {% block navcontent %}
    <nav>
        <div class="container">
            <div class="logo">
                <a href="{% url 'home' %}" class="logo-url">
                    <img src="{% static 'website/img/logo_kach.svg' %}" alt="">
                    <div class="logo-text">
                        <p>Search</p>
                        <p>Specialists</p>
                        <p>Services</p>
                    </div>
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="{% url 'about_us' %}">О нас</a></li>
                <li class="user-auth-block">
                    <a href="{% url 'registration' %}">Зарегестрироваться</a>
                    <span>|</span>
                    <a href="{% url 'sign_up' %}">Войти</a>
                </li>
            </ul>
        </div>
    </nav>
    <a href="{% url 'catalogIT' %}">calalog</a>
    <h1>{{title}}</h1>
    {% endblock navcontent %}


    {% block task_list %}
    {% endblock task_list %}
</body>
</html>