{% extends 'website/base.html' %}
{% load static %}

{% block navcontent %}
    <nav>
        <div class="container">
            <div class="logo">
                <a href="{% url 'catalogIT_perf' %}" class="logo-url">
                    <img src="{% static 'website/img/logo_kach.svg' %}" alt="">
                    <div class="logo-text">
                        <p>Search</p>
                        <p>Specialists</p>
                        <p>Services</p>
                    </div>
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="{% url 'catalogIT_perf' %}" style="color: #000;">Каталог</a></li>
                <li><a href="{% url 'about_us_perf' %}">О нас</a></li>
                <li class="user-auth-block">
                    {% if request.user.is_authenticated %}
                    <li>{{user.username}} | <a href="{% url 'profile_perf' %}">профиль</a></li>
                    {% else %}
                    <a href="{% url 'registration' %}">Зарегестрироваться</a>
                    <span>|</span>
                    <a href="{% url 'sign_up' %}">Войти</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    {% endblock navcontent %}
{% block task_list %}
<div class="wrapp-catalog">
    <ul class="box-catalog">
        <div class="top-catalog-menu">
            <h2>Действующие объявления</h2>
            <div class="filter-box">
                <input type="checkbox" id="filter-input">
                <label for="filter-input" class="filter-label">Фильтр <span class="chevrone">></span></label>

                <div class="filter-elements">
                    <ul>
                        {% if cat_selected == 0 %}
                        <li class="selected">Все категории</li>
                        {% else %}
                        <li><a href="{% url 'catalogIT' %}">Все категории</a></li>
                        {% endif %}

                        {% for c in cats %}
                        {% if c.pk == cat_selected %}
                        <li class="selected">{{c.name}}</li>
                        {% else %}
                        <li><a href="{{c.get_absolute_url}}">{{c.name}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <ul class="block-catalog-links">
            {% for p in posts %}
            <li class="el">
                <a href="{{p.get_absolute_url}}">
                    <div class="top-content">
                        <h2>{{p.title|truncatechars:60}}</h2>
                        <p class="content">{{p.content|truncatechars:200}}</p>
                    </div>
                    <div class="bottom-content">
                        <div class="left-el">
                            <p class="category task-object">{{p.category}}</p>
                            <p class="time_over task-object">до {{p.time_over}}</p>
                            <p class="place task-object">{{p.place}}</p>
                        </div>
                        <div class="right-el">
                            <p class="price task-object">{{p.price}}р</p>
                        </div>
                    </div>
                </a>
            </li>
            <div class="cut"></div>
            {% endfor %}
        </ul>

        {% if page_obj.has_other_pages %}
        <ul class="list-pages">
            {% for p in paginator.page_range %}
            {% if page.obj_number == p %}
            <li class="selected-page page-num">{{p}}</li>
            {% else %}
            <li class="page-num">
                <a href="?page={{p}}">{{ p }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </ul>
</div>
{% endblock task_list %}