{% extends 'website/base.html' %}
{% load static %}

{% block navcontent %}
    <nav>
        <div class="container">
            <div class="logo">
                <a href="{% url 'catalogIT_cust' %}" class="logo-url">
                    <img src="{% static 'website/img/logo_kach.svg' %}" alt="">
                    <div class="logo-text">
                        <p>Search</p>
                        <p>Specialists</p>
                        <p>Services</p>
                    </div>
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="{% url 'catalogIT_cust' %}" style="color: #000;">Мои объявления</a></li>
                <li><a href="{% url 'add_taskIT' %}">Создать объявление</a></li>
                <li><a href="{% url 'about_us' %}">О нас</a></li>
                <li class="user-auth-block">
                    {% if request.user.is_authenticated %}
                    <li>{{user.username}} | <a href="{% url 'profile' %}">профиль</a></li>
                    {% else %}
                    <a href="{% url 'registration' %}">Зарегестрироваться</a>
                    <span>|</span>
                    <a href="{% url 'sign_up' %}">Войти</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    {% endblock navcontent %}

{% block content %}
<div class="wrap-card">
    <div class="back">
        <input type="button" onclick="history.back();" value="Назад"/>
    </div>
    <div class="wrap-content-el">
            <div class="top-content">
                <h2>{{post.title}}</h2>
                <p class="content">{{post.content}}</p>
            </div>
            <div class="bottom-content">
                <div class="left-el">
                    <p class="category task-object">{{post.category}}</p>
                    <p class="time_over task-object">до {{post.time_over}}</p>
                    <p class="place task-object">{{post.place}}</p>
                </div>
                <div class="right-el">
                    <p class="price task-object">{{post.price}}р</p>
                </div>
            </div>
            <div class="customer">
                <div class="customer-info">
                    {{post.user}}
                </div>
            </div>
    </div>
</div>
{% endblock %}