{% extends 'website/base.html' %}
{% load static %}

{% block navcontent %}
    <nav>
        <div class="container">
            <div class="logo">
                <a href="{% url 'catalogIT_perf' %}" class="logo-url">
                    <img src="{% static 'website/img/logo_kach.svg' %}" alt="">
                    <div class="logo-text">
                        <p>Search</p>
                        <p>Specialists</p>
                        <p>Services</p>
                    </div>
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="{% url 'catalogIT_cust' %}">Мои объявления</a></li>
                <li><a href="{% url 'add_taskIT' %}">Создать объявление</a></li>
                <li><a href="{% url 'about_us' %}">О нас</a></li>
                <li class="user-auth-block">
                    {% if request.user.is_authenticated %}
                    <li style="color: #000;">{{user.username}} | <a href="{% url 'profile_perf' %}" style="color: #000;">профиль</a></li>
                    {% else %}
                    <a href="{% url 'registration' %}">Зарегестрироваться</a>
                    <span>|</span>
                    <a href="{% url 'sign_up' %}">Войти</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    {% endblock navcontent %}

{% block profile %}
<a href="{% url 'logout' %}" style="color:black; font-size: 40px;">Выйти</a>
{% endblock profile %}